<div class="contenedor">
    <div class="fila">
        <h1>🤦‍Reportes 🥱</h1>
        <div>
            <button (click)="loadReportesVentas()">Ventas</button> 
            <button (click)="loadReportesCompras()">Compras</button>
        </div>
    </div>
    <table>
        <tr>
            <th>Mes</th>
            <th>Importe</th>
        </tr>
        <tr *ngFor="let reporte of reportes">
            <td>{{reporte.mes}}</td>
            <td>{{reporte.importe}}</td>
        </tr>
    </table>
</div>
