* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generales */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

button {
    background-color: cadetblue;
    border: none;
    border-radius: 0.3em;
    font-size: 1em;
    color: white;
    padding: 0.5em 1em;
}

/* Layout */

.contenedor {
    padding: 0.5em 1em;
}

.fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fila button {
    margin-left: 0.5em;
    border: 2px solid crimson;
    background-color: white;
    color: crimson;
}

.fila button.selected {
    border: 2px solid crimson;
    background-color: crimson;
    color: white;
}

/* Barra navegación superior */

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5em 1em;
}

nav div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav div span {
    margin-right: 1em;
}

/* Tablas */

table {
    width: 60%;
    padding: 1em;
    box-shadow: 2px 2px 3px grey;
    margin: 1em auto;
}

th {
    font-size: 1.2em;
    padding: 0.5em 1em;
    background-color: crimson;
    color: white;
}

td {
    font-size: 1.2em;
    padding: 0.5em 1em;
    border: 2px solid crimson;
}

th:nth-child(1) {
    text-align: left;
}

td:nth-child(2) {
    text-align: right;
}

/* Formulario */

form {
    width: 60%;
    padding: 1em;
    box-shadow: 2px 2px 3px grey;
    margin: 1em auto;
}

input {
    border: 2px solid cadetblue;
    border-radius: 0.3em;
    font-size: 1em;
    color: grey;
    padding: 0.5em 1em;
    margin-right: 0.5em;
}

/* Mensajes */

.mensaje {
    border: 2px solid cadetblue;
    background-color: rgba(95, 158, 160, 0.7);
    border-radius: 0.3em;
    font-size: 1em;
    padding: 0.5em 1em;
    margin-right: 0.5em;
    position: absolute;
    top: 0.3em;
    left: 50%;
    transform: translateX(-50%);
}